body{
    margin: 0;
    font-family: sans-serif;
    color: rgb(22, 22, 22);
}
section{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20px;
    margin-bottom: 100px;
}
p{
    padding-bottom: 10px;
    line-height: 2em;
}
.flexsec{
    display: flex;
}
.half-width{
    width: 50%;
}
h1{
    
    font-size: 60px;
    font-family: 'Song Myung', serif;
    font-weight: 500;
}
h2{
    font-size: 50px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 0%;
}
h3{
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 0;
}
h4{
    font-size: 25px;
}
.fheading{
    border-left: 3px solid tomato;
    padding:0 10px;
    display: inline-block;
    margin-top: 20px;
    
}
.gold-color{
    color: #fac000;
}
.div1{
    margin: auto;
}
.link-button{
    text-decoration: none;
    background-color: tomato;
    padding: 10px 40px;
    color: white;
    border-radius: 5px;
    font-weight: 700;
}
.notetext{
    margin-top: 7%;
}
.sechead{
    text-align: center;
}

.half-width img{
    width: 80%;
}
.itemss{
    width: 50%;
}
.item1{
    background-color: rgb(255, 239, 209);
    border-radius: 20px;
    padding: 3%;
    width: 25%;
    
}
.item2{
    background-color: rgb(255, 208, 255);
    border-radius: 20px;
    padding: 3%;
    width: 25%;
}
.item3{
    background-color: rgb(187, 255, 170);
    border-radius: 20px;
    padding: 3%;
    width: 25%;
}
.spacing{
    justify-content: space-between;
}
.imagediv{
    width: 35%;
}
.paradiv{
    width: 55%;
    margin: auto;
}
.imagediv img{
    width: 100%;
}
#rightpara{
    margin-right: 0;
}
#leftpara{
    margin-left: 0;
}
footer{
    background-color: rgb(22, 22, 22);
    color: white;
    text-align: center;
    padding: 20px;
}
.ftext{
    font-family: 'Molle', cursive;
}
#year{
    color: tomato;
}